@import "../utils";
@import "../variables";

@include mobile {
  body {
    width: $screen-mobile;
  }
}

@include tablet {
  body {
    width: $screen-tablet;
  }
}

@include desktop {
  body {
    width: $screen-desktop;
  }
}