@import "../utils";

@media (prefers-color-scheme: dark) {
  :root {
    --theme-mode: dark;
    --font-color_default: white;
    --background-color_default: black;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-mode: light;
    --font-color_default: black;
    --background-color_default: white;
  }
}

html {
  color-scheme: var(--theme-mode);
}

body {
  color: var(--font-color_default);
  background-color: var(--background-color_default);
}
