@font-face {
  font-family: 'Jalnan';
  src: url('/assets/fonts/Jalnan/Jalnan.ttf') format('ttf'),
  url('/assets/fonts/Jalnan/JalnanOTF.otf') format('opentype');
}

@font-face {
  font-family: 'BMHANNAPro';
  src: url('/assets/fonts/BMHANNAPro/BMHANNAPro.ttf') format('ttf'),
  url('/assets/fonts/BMHANNAPro/BMHANNAProOTF.otf') format('opentype');
}

@font-face {
  font-family: 'BMJUA';
  src: url('/assets/fonts/BMJUA/BMJUA.ttf') format('ttf'),
  url('/assets/fonts/BMJUA/BMJUA.otf') format('opentype');
}

@font-face {
  font-family: 'KyoboHandwriting';
  src: url('/assets/fonts/KyoboHandwriting/KyoboHandwriting2021sjy.ttf') format('ttf'),
  url('/assets/fonts/KyoboHandwriting/KyoboHandwriting2021sjy.otf') format('opentype');
}
