@import "~@common/styles/utils";

.DefaultSwitch {
  --default-switch_width: 50px;
  --default-switch_height: 25px;
  --default-switch_border-thick: 1px;
  --default-switch_space: 2px;
  --default-switch--cap_size: calc(min(var(--default-switch_width), var(--default-switch_height)) - var(--default-switch_border-thick) * 2 - var(--default-switch_space) * 2);

  position: relative;
  width: var(--default-switch_width);
  height: var(--default-switch_height);
  border: var(--default-switch_border-thick) solid var(--font-color_default);
  border-radius: min(var(--default-switch_width), var(--default-switch_height));
  box-sizing: border-box;
  backdrop-filter: blur(5px) brightness(150%);
  transition: border 0.3s ease-in-out;

  &::after {
    position: absolute;
    content: '';
    width: var(--default-switch--cap_size);
    height: var(--default-switch--cap_size);
    left: var(--default-switch_space);
    top: var(--default-switch_space);
    border: inherit;
    border-radius: 18px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
  }

  &.default::after {
    transform: translateX(0);
  }

  &.other::after {
    transform: translateX(25px);
  }
}

.default-icon, .other-icon {
  position: absolute;
  @include flex();
  width: var(--default-switch--cap_size);
  height: var(--default-switch--cap_size);
  top: var(--default-switch_space);
  border-radius: var(--default-switch--cap_size);
  color: var(--font-color_default);
  overflow-x: hidden;
  transition: color 0.3s ease-in-out;
}

.default-icon {
  left: var(--default-switch_space);
}

.other-icon {
  right: var(--default-switch_space);
}