@import "~@common/styles/utils";

.Banner {
  --banner--height: calc(100vh - var(--navigator--height));
  @include flex();

  height: var(--banner--height);
  padding-top: var(--navigator--height);
  color: var(--font-color_default);
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 70px;
  text-align: end;
}
