@import "~@common/styles/utils";

.TextList {
  list-style: none;
  padding-left: 0;

  li {
    @include flex(row, flex-start, flex-start);
  }
}

.text-key {
  min-width: fit-content;
  font-weight: bold;
  word-break: keep-all;
  white-space: pre-wrap;
}

.text-value {
  width: auto;
  font-weight: normal;
  word-break: keep-all;
}
