@import "~@common/styles/utils";

.PostCard {
  --card--border-size: 1px;

  &.simple {
    --card--gap: 10px;
    --card--white-space: 10px;
    --card--radius: 10px;
    --card--width: calc(var(--screen--width) / 2 - var(--card--gap));
    --card-image--size: 50px;
    --card-info--width: calc(var(--card--width) - var(--card-image--size) - var(--card--white-space) * 3 - var(--card--border-size) * 2);
    --card-info-title--font-size: 22px;
    --card-info-description--font-size: 15px;

    @include flex(row, flex-start, center);
  }

  &.detail {
    --card--gap: 10px;
    --card--white-space: 10px;
    --card--radius: 10px;
    --card--width: 100%;
    --card-image--size: 100%;
    --card-info--width: 100%;
    --card-info-title--font-size: 22px;
    --card-info-description--font-size: 15px;

    @include flex();
  }

  box-sizing: border-box;
  border: var(--font-color_default) var(--card--border-size) solid;
  gap: var(--card--white-space);
  padding: var(--card--white-space);
  border-radius: var(--card--radius);
  width: var(--card--width);
}

.image {
  width: var(--card-image--size);
  height: var(--card-image--size);
  border: var(--font-color_default) var(--card--border-size) solid;
  border-radius: var(--card--radius);
  box-sizing: border-box;
}

.info {
  gap: calc(var(--card--white-space) / 2);
  width: var(--card-info--width);
  color: var(--font-color_default);
}

.simple .info {
  @include flex(column, center, flex-start);

  .title, .description {
    @include ellipsis();
  }
}

.detail .info {
  @include flex();
  position: relative;

  .title {
    @include ellipsis();
  }

  .title, .description {
    word-break: keep-all;
    text-align: center;
    width: 100%;
  }
}

.title {
  font-family: 'BMJUA', sans-serif;
  font-size: var(--card-info-title--font-size);
  border-bottom: var(--font-color_default) 1px solid;
}

.description {
  font-family: 'KyoboHandwriting', sans-serif;
  font-size: var(--card-info-description--font-size);
}

.type {
  @include flex();
  gap: 8px;
  padding-bottom: 10px;

  .category {
    font-size: 15px;
    font-weight: bold;
  }

  .tags {
    row-gap: 3px;
    column-gap: 10px;
    font-size: 13px;
  }

  .category, .tags {
    @include flex(row);
    flex-wrap: wrap;
  }
}

@include mobile {
  .PostCard.simple {
    --card--width: calc(var(--screen--width) - var(--card--gap));
  }
}

@include tablet {
  .PostCard.simple {
    --card--width: calc(var(--screen--width) / 2 - var(--card--gap));
  }
}

@include desktop {
  .PostCard.simple {
    --card--width: calc(var(--screen--width) / 2 - var(--card--gap));
  }
}
