@import "~@common/styles/utils";

.Main {
  display: block;
  position: relative;

  @include flex(column, flex-start, center);

  padding-top: var(--navigator--height);
  color: var(--font-color_default);
  background: var(--background-color_gradiant);
  height: 100vh;
  overflow-y: scroll;

  & > * {
    width: var(--screen--width);
  }
}
