// dark mode
$dark--font-color_default: white;
$dark--background-color_default: black;
$dark--background-color_gradiant-bottom: indigo;
$dark--background-color_gradiant-top: midnightblue;

// light mode
$light--font-color_default: black;
$light--background-color_default: white;
$light--background-color_gradiant-bottom: slateblue;
$light--background-color_gradiant-top: aquamarine;
